<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="998b7c">  <td>20/03/06 17:53:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverSignUp.leaveAllRequiredFieldsBlank()[pri:1, instance:testCases.DriverSignUp@5891e32e]">leaveAllRequiredFieldsBlank</td> 
  <td>main@802581203</td>   <td></td> </tr>
<tr bgcolor="93d195">  <td>20/03/06 17:51:20</td>   <td>-113231</td> <td>&nbsp;</td><td title="&gt;&gt;MyUtilities.startReport(java.lang.String, java.lang.String)[pri:0, instance:testCases.DriverSignUp@5891e32e]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@802581203</td>   <td></td> </tr>
<tr bgcolor="998b7c">  <td>20/03/06 17:51:20</td>   <td>-113153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverSignUp.successFulRegistration()[pri:0, instance:testCases.DriverSignUp@5891e32e]">successFulRegistration</td> 
  <td>main@802581203</td>   <td></td> </tr>
<tr bgcolor="93d195">  <td>20/03/06 17:53:25</td>   <td>12282</td> <td>&nbsp;</td><td title="&lt;&lt;MyUtilities.tearDown()[pri:0, instance:testCases.DriverSignUp@5891e32e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@802581203</td>   <td></td> </tr>
</table>
