<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80d585">  <td>20/02/29 22:54:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DriverSignUp.successFulRegistration()[pri:0, instance:testCases.DriverSignUp@5b218417]">successFulRegistration</td> 
  <td>main@93740343</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>20/02/29 22:54:40</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;MyUtilities.tearDown()[pri:0, instance:testCases.DriverSignUp@5b218417]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
